<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>InitDatabase</servlet-name>
    <servlet-class>br.tur.reservafacil.gwtpoc.server.InitDatabase</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet> 

  <servlet>
    <servlet-name>reservaServlet</servlet-name>
    <servlet-class>br.tur.reservafacil.gwtpoc.server.ReservaServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>reservaServlet</servlet-name>
    <url-pattern>/reserva/service</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>reserva/list.html</welcome-file>
  </welcome-file-list>

</web-app>
